@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#header h1 {
  margin: 0;
  font-size: 16px;
}

button {
  cursor: pointer;
}

/*
 * =====================================================================================================================
 * CHAR SNIPPETS
 * =====================================================================================================================
 */

#char-snippets__table td {
  border: 1px solid #ccc;
  padding: 0;
  position: relative;
}

#char-snippets__table input {
  border: 0;
  height: 30px;
  width: 30px;
  outline: 0;
  padding: 0;
  text-align: center;
}

#char-snippets__table input[disabled] {
  cursor: pointer;
}

#char-snippets__table .delete-row-button {
  color: #f00;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 9px;
  right: -10px;
}

#char-snippets__add-row-button {
  margin-top: 8px;
}
