@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

#char-snippets__header,
#text-snippets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#char-snippets__footer,
#text-snippets__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#char-snippets__header h1,
#text-snippets__header h1 {
  margin: 0;
  font-size: 16px;
}

#char-snippets__copied,
#text-snippets__copied {
  color: #f00;
  visibility: hidden;
}

.copied {
  background: #ddd;
}

button {
  cursor: pointer;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}


/*
 * =====================================================================================================================
 * CHAR SNIPPETS
 * =====================================================================================================================
 */


#char-snippets__table td {
  border: 1px solid #ccc;
  padding: 0;
  position: relative;
}

#char-snippets__table input {
  border: 0;
  height: 30px;
  width: 30px;
  outline: 0;
  padding: 0;
  text-align: center;
}

#char-snippets__table input[disabled] {
  cursor: pointer;
}

#char-snippets__table .delete-row-button {
  color: #f00;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 9px;
  right: -10px;
}

#char-snippets__add-row-button {
  margin-top: 10px;
}


/*
 * =====================================================================================================================
 * TEXT SNIPPETS
 * =====================================================================================================================
 */


#text-snippets__edit-button {
  float: right;
}

#text-snippets__table {
  border-collapse: collapse;
  width: 100%;
}

#text-snippets__table td {
  position: relative;
}

#text-snippets__table textarea {
  border: 1px solid #ccc;
  min-height: 36px;
  width: 100%;
  outline: 0;
  resize: vertical;
}

#text-snippets__table textarea[disabled] {
  cursor: pointer;
}

#text-snippets__table .delete-snippet-button {
  color: #f00;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 9px;
  right: -8px;
}

#text-snippets__add-snippet-button {
  margin-top: 10px;
}
