@charset "utf-8";

button {
  cursor: pointer;
}

h2 {
  margin: 0;
  font-size: 16px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

input[readonly],
textarea[readonly] {
  background: #fafafa;
  cursor: copy;
}

table td {
  position: relative; /* For the cross "Delete row / snippet" */
}

#char-snippets-header-container,
#text-snippets-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#char-snippets-notification-box,
#text-snippets-notification-box {
  color: #fb0000;
  visibility: hidden;
}

#char-snippets-footer-container,
#text-snippets-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#char-snippets-table .delete-row-button,
#text-snippets-table .delete-snippet-button {
  color: #f00;
  cursor: pointer;
  display: block;
  position: absolute;
}

/*
 * =====================================================================================================================
 * CHAR SNIPPETS
 * =====================================================================================================================
 */

#char-snippets-table td {
  border: 1px solid #ccc;
  padding: 0;
}

#char-snippets-table input {
  border: 0;
  height: 30px;
  width: 30px;
  outline: 0;
  padding: 0;
  text-align: center;
}

#char-snippets-table .delete-row-button {
  top: 23%;
  right: -10px;
}

/*
 * =====================================================================================================================
 * TEXT SNIPPETS
 * =====================================================================================================================
 */

#text-snippets-table {
  width: 100%;
}

#text-snippets-table textarea {
  border: 1px solid #ccc;
  /*field-sizing: content;*/
  max-width: 344px;
  min-height: 50px;
  width: 100%;
  outline: 0;
  resize: vertical;
}

#text-snippets-table .delete-snippet-button {
  top: 33%;
  right: -11px;
}

/*
 * =====================================================================================================================
 * EXPORT/IMPORT BUTTONS, SIDE PANEL MODE CHECKBOX
 * =====================================================================================================================
 */

#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#side-panel-mode-box {
  cursor: pointer;
}

#side-panel-mode-checkbox {
  vertical-align: middle;
}
